<%= f.label :ingredients, "Ingredients" %>
<%= f.text_field :ingredients , :class => :ingred, :placeholder => "Enter Ingredient Here" %><br>

<a id="addIngredient" href="#">Add another Ingredient</a>
<br>