<div class="container">
  <div class="row">
    <div class="span6">
          <h1>All Recipes</h1>
            <%= render 'allrecipes' %>
              <h2>Latest Recipes</h2>
                <%= render 'latestrecipes' %>
                  <h2>Featured Recipe</h2>
                    <%= render 'featurerecipe' %>
                      <h2>Top Ranking Country</h2>
                        <%= render 'topcountry' %>
    </div>
  </div>
</div>




