<div class="container">
 <div class="row">
  <div class="span12">
   <h1>My Recipes</h1>
    <%= render "myrecipes" %>
     <h2>My Favourite Recipes</h2>
      <%= render 'favouriterecipes' %>
  </div>
 </div>
</div>