<div class="container">
 <div class="row">
  <div class="span12">
   <h1>My Recipes</h1>
   <%= link_to "Create New Recipe", new_recipe_path,  :class => "btn right" %>
  </div>
 </div>
</div>
<br>
<div class="container">
  <div class="row">
   <div id="userRecipes">
    <%= render "userrecipes" %>
   </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
     <h2>My Favourite Recipes</h2>
   </div>
 </div>
</div>


<div class="container">
 <div class="row">
  <div id="favouriteRecipes">
   <%= render 'favouriterecipes' %>
  </div>
 </div>
</div>
