<div class="container">
  <div class="row">
    <div class="span12">
      <b><%= image_tag @recipe.avatar.url(:thumb) %><b><br>
      <b><%= @recipe.dish_name %></b><br>
      <b>by&nbsp;<%= @recipe.user.name %></b>




  </div>
</div>
</div>
 
