/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* General */

.center {
  margin: 0 auto;
}

.thumbnail.noBorder {
  border:none;
}

.left {
  float:left;
}

.right {
  float:right;
}

/* Navigation */


.navBar{
  list-style-type: none;
  text-align: center;
}
.navBar li {
  display: inline;
}

.navBar li a {
  text-decoration: none;
  color:#333;
  font-size:1.3em;
  padding:10px;
  display:inline-block;
  border-bottom:2px solid #333;
  margin-left: 15px;
}

.navBar li a:hover {
  border-bottom:2px solid red;
}

/* Show Page */

.show {
  list-style-type: none;
  margin:0px;
}

.show li {
  margin-bottom:5px;
  line-height:25px;
}

ol.method li {
  margin-bottom:10px;
}

/* Pagination */

.pagination {
  float:left;
}



/* Headers and Paragraphs */


p {
  color:#6F716B;
}

.name {
  color:#6F716B;
  font-size:1.2em;
  padding-top:5px;
  clear:both;
}

.time {
  padding-left:5px;
  vertical-align:2px;
}

.description {
  border-bottom:1px solid #CCC;
  padding-bottom:10.5px;
  color:#333;
}

h4 a {
  color:#5E6063;
}

/* Borders */



.hiddenDiv {
  display:none;
}

.box {
  border:1px solid #333;
}